* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #095a55;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff38e;
  z-index: 1;
}

.container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
  /* background-color: red; */
}

.container > .container___editor {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #095a55;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0, 0.15);
}

.container > .container___preview {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background-color: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}
.container___preview img{
  max-width: 100%;
}